<!DOCTYPE html>
<html lang="en">

<head>
    <script type="text/javascript" src="date.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belajar Node</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="../public/stylesheets/bootstrap.min.css"></script>
</head>

<body>
    <div class="container">
        <h2>Data</h2>
        <h6>c22</h6>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">String</th>
                    <th scope="col">Integer</th>
                    <th scope="col">Float</th>
                    <th scope="col">Date</th>
                    <th scope="col">Boolean</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% result.forEach((item, index) => { %>
                <tr>
                    <th scope="row"><%= index + start +1 %></th>
                    <td><%= item.string %></td>
                    <td><%= item.integer %></td>
                    <td><%= item.float %></td>
                    <td><%= item.date %></td>
                    <td><%= item.boolean %></td>
                    <td>
                        <a href="edit/<%= item._id %>" class="btn btn-success">Edit</a>
                        <a href="delete/<%= item._id %>" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>

        <nav aria-label="Page navigation">
            <ul class="pagination">
              <li class="page-item<%= page == 1 ? ' disabled' : '' %>">
                <a class="page-link" href="<%= url.replace(`page=${page}`, `page=${page - 1}`) %>" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <% for(let i = 1; i <= pages; i++){ %>
              <li class="page-item<%= page == i ? ' active' : '' %>"><a class="page-link" href="<%= url.replace(`page=${page}`, `page=${i}`) %>"><%= i %></a></li>
              <% } %>
              <li class="page-item<%= page == pages ? ' disabled' : ''%>">
                <a class="page-link" href="<%= url.replace(`page=${page}`, `page=${Number(page) + 1}`) %>" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
          </nav>

        <a href="add" class="btn btn-primary">Add Data</a>
        <a href="filter" class="btn btn-primary">Cari Data</a>

    </div>
</body>

</html>